<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            News
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
        <ion-list>
            <ion-item>
                <ion-label>Country</ion-label>
                <ion-select [compareWith]="compareWith" [(ngModel)]="country_select">
                    <ion-select-option *ngFor="let country of countries">{{country.name}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

    <ion-card *ngFor="let article of newsArray">
        <ion-img src="{{article.urlToImage}}"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>
                {{article.description}}
            </p>
            <div class="row" text-center>
                <div class="col">
                    <ion-button ion-button fill="outline" href="{{article.url}}" large target="_self">Read full article</ion-button>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>

