<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            News
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
        <ion-list>
            <ion-item>
                <ion-label>Country</ion-label>
                <ion-select #newSelect [(ngModel)]="country_select" (ionChange)="selectChange(country_select)" interface="popover">
                    <ion-select-option value="cz" selected>Czech</ion-select-option>
                    <ion-select-option value="sk">Slovakia</ion-select-option>
                    <ion-select-option value="de">Germany</ion-select-option>
                    <ion-select-option value="us">America</ion-select-option>
                    <ion-select-option value="ru">Russia</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

    <ion-card *ngFor="let article of newsArray">
        <ion-img src="{{article.urlToImage}}"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>
                {{article.description}}
            </p>
            <div class="ion-text-center">
                <div class="col">
                    <ion-button ion-button fill="outline" href="{{article.url}}" strong color="medium">Continue reading...</ion-button>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>

